.boxFour {
  width: 100%;
  height: 680px;
}

.frameSectionFour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.frameTextWrapperSectionFour {
  width: 593px;
  height: 130px;
  margin-left: 140px;
}

.textWrapperFirstFour {
  color: var(--Regular, #262626);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textWrapperSecondFour {
  color: #8b8b8b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.frameImgAndGrd {
  height: 460px;
  margin-top: 70px;
  
}

.eclipseImgSectionFour {
  background: linear-gradient(
    180deg,
    rgb(80.92, 174.26, 106.11) 0%,
    rgb(41, 151, 137.8) 50%,
    rgb(41, 84, 151) 100%
  );
  border-radius: 251px;
  filter: blur(200px);
  height: 361px;
  position: absolute;
  opacity: 0.8;
  width: 502px;
  z-index: -1;
  justify-content: flex-end;
}

.frameImgAndGrd img {
  height: 460px;
  width :fit-content;
  z-index: 1;
  justify-content: flex-end;
}

@media (min-width: 360px) and (max-width: 768px) {
  .boxFour {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }

  .frameSectionFour {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .frameTextWrapperSectionFour {
    width: 320px;
    height: fit-content;
    margin-left: 0px;
  }
  .textWrapperFirstFour {
    color: var(--Regular, #262626);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 320px;
    line-height: 25.5px;
  }
  .eclipseImgSectionFour {
    background: linear-gradient(
      180deg,
      rgb(80.92, 174.26, 106.11) 0%,
      rgb(41, 151, 137.8) 50%,
      rgb(41, 84, 151) 100%
    );
    border-radius: 251px;
    filter: blur(200px);
    height: 251px;
    position: absolute;
    opacity: 0.8;
    width: 300px;
    z-index: -1;
    justify-content: flex-end;
  }
  
  .textWrapperSecondFour {
    color: #8b8b8b;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 320px;
  }
  .frameImgAndGrd{
    height: 349px;
    margin-top: 0px;

  }
  .frameImgAndGrd img {
    height: 349px;
    z-index: 1;
    position: absolute;
    right: 1px;
  }
}