.frame {
  /* background-color:#ffffffff; */
  height: 996px;
  overflow: hidden;
  width: 100%;
  background-image: url("./../public/backgroundLanding.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.frame .overlap {
  height: 1751px;
  position: relative; 
  top: -635px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .eclipse {
  height: 1751px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 1398px;
}

.frame .overlapGroup {
  height: 1631px;
  position: relative;
}



.frame .img {
  height: 435px;
  left: 222px;
  position: absolute;
  top: 635px;
  width: 954px;
}

.frame .ellipseTwo {
  height: 293px;
  left: 222px;
  position: absolute;
  top: 678px;
  width: 161px;
}

.frame .ellipseThree {
  height: 662px;
  left: 223px;
  position: absolute;
  top: 969px;
  width: 954px;
}

.frame .ellipseFour {
  height: 296px;
  left: 1012px;
  position: absolute;
  top: 1066px;
  width: 165px;
}

.frame .group {
  height: 380px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 789px;
  width: 800px;
} 
 

.frame .textWrapper {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 10px #00000026;
  top: 218px;
  width: 713px;
}

.frame .div {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 24px #00000026;
  top: 0;
  width: 812px;
}

.frame .divWrapper {
  align-items: center;
  background: linear-gradient(109deg, #84D68C -8.25%, rgba(65, 138, 124, 0.96) 171.19%, rgba(41, 84, 151, 0.91) 193.37%);
  border-radius: 32px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 324px;
  overflow: hidden;
  padding: 12px 24px;
  position: absolute;
  top: 336px;
}

.frame .textWrapperSecond {
  color: #ffffff;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame .groupWrapper {
  height: 402px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 1229px;
  width: 925px;
}

.frame .dashboardKasirWrapper {
  -webkit-backdrop-filter: blur(96.49px) brightness(100%);
  backdrop-filter: blur(96.49px) brightness(100%);
  background-color: #c4c4c442;
  border: 2px solid;
  border-color: #ffffff28;
  box-shadow: 0px 4px 24px #ffffff26;
  height: 402px;
  position: relative;
}

.frame .dashboardKasir {
  height: 385px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 891px;
}

.frame .gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.71) 100%
  );
  height: 71px;
  left: 0;
  position: absolute;
  top: 1560px;
  width: 100%;
}

@media (min-width: 360px) and (max-width: 768px){
  .frame {
    height: 996px;
    overflow: hidden;
    width: 100%;
    background-image: url("./../public/backgroundLanding.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
